[2022-02-09 16:22] derekeder opened #2 "import state by state emissions data"
Using the data prepped by @swatland610, lets import the US emissions data by state into a format that Gatsby and Recharts can ingest.

We'll base the display of these charts on the stacked bar charts of emissions Sean put together. Here's Illinois for reference:

![Screen Shot 2022-02-09 at 8 57 53 AM](https://user-images.githubusercontent.com/919583/153227332-4d904194-5532-4f0d-8d83-b10b29297d55.

[2022-02-09 16:52] derekeder opened #3 "create emissions_total.json for home page chart"
On the home page, we should show a chart of total mtCO2e emissions for the entire US. We can use [the ](https://github.com/chihacknight/state-by-state-decarbonization/blob/main/data/raw/us_emissions_2000_2018.csv) to calculate this total per year.

Steps to take:

1. update the `data/Makefile` to run a script to create `emissions_total.json`
2. create a python script similar to `get_emissions.py`

[2022-02-09 16:53] derekeder opened #4 "home page chart of US emissions over time"
Once we have the data imported in #3, lets use Recharts to create a `SimpleAreaChart` to show this data on the home page: https://recharts.org/en-US/examples/SimpleAreaChart

The chart should look something like this:

![Screen Shot 2022-02-09 at 10 51 46 AM](https://user-images.githubusercontent.com/919583/153249821-2b054114-d42e-473e-8006-e5533d7579b3.png)

[2022-02-09 17:17] swatland610 commented on #2
hey @derekeder! I should be able to refactor the helper functions to output the data like this. I'll take a look in the next couple of days!

[2022-02-11 05:56] derekeder commented on #4
closed via #1

[2022-02-11 05:56] #4 closed

[2022-02-11 05:57] derekeder commented on #2
closed via #1

[2022-02-11 05:57] #2 closed

[2022-02-11 05:58] derekeder opened #5 "json data format requests"
@swatland610 could we make the following changes to the data we're importing:

* round all numbers to the nearest 1 decimal point
* for state names, convert them to slugs (lowercase, `_` instead of spaces)

[2022-02-11 16:53] derekeder opened #8 "Legend and tooltip items are reversed in Recharts"
In our charts, the bars dont match the order of the stacked bar.

![Screen Shot 2022-02-11 at 10 52 34 AM](https://user-images.githubusercontent.com/919583/153633882-580368ca-aa82-4107-9af8-1ab985ddac7e.png)

Looks like this is a known issue with recharts, so we'll need to work around it: https://github.com/recharts/recharts/issues/209

[2022-02-11 16:57] derekeder commented on #3
this was handled by having a `united_states` key in the `emissions.json` data

[2022-02-11 17:05] derekeder opened #9 "Bringing in emissions and power generation data in one json file"
Now that we have data for emissions on the website, lets do the same for power generation.

Instead of having two separate files as I originally outlined, it would be a lot easier to work with all data rolled up by state in Gatsby. This will give us a pattern for easily adding more data for each state as we make it.

Here's what I see as the next steps to take:

1. rename `final/emissions.json` to

[2022-02-11 17:06] derekeder commented on #5
closed via #6

[2022-02-11 17:06] #5 closed

[2022-02-16 18:01] vkoves opened #10 "Update Total Emissions Data by State (Including Categories)"
Currently our emissions data (nationally and for each state) only goes up to 2018, which means that we're missing three full years of emission data. We should _either_ find  a data source that we can use that is more up to date or a way to calculate the emissions data ourselves from the underlying data.

[2022-02-16 18:15] vkoves opened #11 "Create an Electrification Page for Landlords"
Let's create a page targeted specifically towards landlords giving them some recommendations on electrification and why it would benefit them (such as through costs savings over the long-term). We can use the [Rewiring America Electrify Home Guide](https://www.rewiringamerica.org/electrify-home-guide) as a starting point.

[2022-02-16 18:15] vkoves opened #12 "Create an Electrification Page for Renters"
Let's create a page targeted towards renters to help them both electrify items they control (like a vehicle) and to give them tools and suggestions to advocate for their landlord to get electric appliances. As a tenant myself, even a nice pamphlet I could hand to my landlord would be super helpful.

[2022-02-16 18:22] vkoves opened #13 "Audit & Create Issues for Accessibility Problems"
We should use tools like [Axe DevTools](https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd) and manual QA to check for accessibility issues and make separate issues for them. In particular Viktor noticed off-hand:

- A few basic HTML issues (like missing the `lang` attribute on the `<html>` tag)
- Color contrast issues on the state emissions graph

[2022-02-16 22:51] derekeder commented on #10
From the source page on wri.org:

So there may not be anything we can do about getting more data, other than waiting for the EPA to update it next

[2022-02-16 22:58] derekeder opened #14 "validate emissions data is correct"
According to the **Draft Inventory of U.S. Greenhouse Gas Emissions and Sinks: 1990-2020** by the EPA (discussed in https://github.com/chihacknight/state-by-state-decarbonization/issues/10#issuecomment-1043182534), the total CO2e emissions for 2018 were 6,689.5 MM CO2 Eq:

<img width="852" alt="Screen Shot 2022-02-17 at 10 56 17 AM" src="https://user-images.githubusercontent.com/919583/154531408-a

[2022-02-17 16:53] derekeder commented on #10
The EPA has a **Draft Inventory of U.S. Greenhouse Gas Emissions and Sinks: 1990-2020** report with national emissions data thru 2020, which looks to have state by state data as well (though couldn't find a total table of emissions per state):

EPA.gov link: https://www.epa.gov/ghgemissions/draft-inventory-us-greenhouse-gas-emissions-and-sinks-1990-2020

PDF report:
[us-ghg-inventory-2022-main-tex

[2022-02-22 22:56] swatland610 commented on #14
@derekeder Worked on this a little bit this morning. I just did some quick gut checks across [this data source we are using here](https://docs.google.com/spreadsheets/d/1X-hIVEs9lKNa_ksQsVFoC4O1QUmKq07PTc0BRsgreZ8/edit#gid=496006213)

I noticed that in this data source itself, the **Emissions by Sub Sector** (which is what we are using for the charts) doesn't match the total across any of the stat

[2022-02-22 22:58] derekeder commented on #14
@swatland610 interesting, but good to know they're close numbers. Do you have a sense of how far off they are? 1% 5% or more?

[2022-02-23 00:15] swatland610 commented on #14
@derekeder nevermind! I found the magic combo to align it.

Here's a breakdown of the columns we are using for our emissions data [from this raw data](https://github.com/chihacknight/state-by-state-decarbonization/blob/main/data/raw/us_emissions_2000_2018.csv).

To equal the `total_emissions_excluding_lucf` columns, we need to sum the following:
* **Dirty Power**
* 'emission_sub_electric'

**Build

[2022-02-23 00:40] derekeder commented on #14
amazing

[2022-02-24 16:37] derekeder commented on #14
closed via #15

[2022-02-24 16:37] #14 closed

[2022-02-24 16:38] derekeder commented on #8
closed via #15 by implementing a custom tooltip in Recharts

[2022-02-24 16:38] #8 closed

[2022-02-24 16:40] derekeder opened #16 "create website outline"
Create a website outline based on @jpvelez's talk. This will outline the content and user journey from

home page => state detail page => action pages

Wireframes: https://app.moqups.com/pcSQvUMmsyAa1SN58KaKg1EKuYRs8iRX/view/page/a97a1436c

[2022-03-08 22:46] derekeder commented on #16
this is done

[2022-03-08 22:46] #16 closed

[2022-03-08 22:49] derekeder opened #17 "Add Homepage Total US Pollution Chart with Projection to 0 by 2050"
Using `Recharts` create a new Component chart that shows current US emissions and what we need to do to get to 0 by 2050:

Example spreadsheet and chart: https://docs.google.com/spreadsheets/d/1QIWu0BSWCW2AgrJilhcsPA20jTdDjxqNJGoMx9c8-Iw/edit#gid=0

<img width="840" alt="Screen Shot 2022-03-08 at 4 46 55 PM" src="https://user-images.githubusercontent.com/919583/157338853-a81d609d-8506-414f-9ac6-9d

[2022-03-08 22:57] derekeder opened #18 "Create stacked bar chart for one year"
Create a new `Recharts` component for a single stacked bar so we can start generating charts like this:

<img width="402" alt="Screen Shot 2022-03-08 at 4 55 37 PM" src="https://user-images.githubusercontent.com/919583/157339746-52dc3a7f-8b15-4b67-a37d-f86ed06565d5.png">

We can then reuse this component on the Home page:

<img width="1016" alt="Screen Shot 2022-03-08 at 4 56 24 PM" src="https://u

[2022-03-08 22:59] derekeder opened #19 "Home page layout"
Going off of our wireframe, stub out the content and chart / image placeholders for the home page: https://app.moqups.com/pcSQvUMmsyAa1SN58KaKg1EKuYRs8iRX/view/page/a68639957

<img width="1021" alt="Screen Shot 2022-03-08 at 4 59 41 PM" src="https://user-images.githubusercontent.com/919583/157340234-c1fd1fb3-ff74-439e-b13b-f6c692c0950f.png">

[2022-03-08 23:00] derekeder opened #20 "State detail layout"
Similar to #19, using the wireframe, stub out the text and placeholder charts for the State detail page: https://app.moqups.com/pcSQvUMmsyAa1SN58KaKg1EKuYRs8iRX/view/page/a97a1436c

<img width="327" alt="Screen Shot 2022-03-08 at 5 00 40 PM" src="https://user-images.githubusercontent.com/919583/157340347-140f29ec-e5d2-405e-8302-dc92276e1321.png">

[2022-03-08 23:02] derekeder opened #21 "Get data on number of buildings in each State"
For the Building electrification part of the state detail page, we will need to get counts of the number of buildings in a given state.

Research where to find this data - bonus points for breaking the building counts up by residential and non-residential.

Data should be collected in a Google Sheet with one row for each State

[2022-03-08 23:05] derekeder opened #22 "Get data on number of cars / vehicles in each State"
Similar to #21, we need the total count of motor vehicles in each State.

Bonus points for number of EV's vs combustion engine

Data should be collected in a Google Sheet with one row for each State

[2022-03-08 23:07] derekeder opened #23 "Get data on number of coal and gas power plants in each State"
Similar to #21 and #22 we also want to get a count of the number of coal plants and gas power plants in a State.

Some starting places:

- https://en.wikipedia.org/wiki/List_of_power_stations_in_Illinois#Natural_gas
- https://www.gem.wiki/Category:Existing_coal_plants_in_Illinois

Data should be collected in a Google Sheet with one row for each State

[2022-03-08 23:22] swatland610 opened #24 "Assemble Data Dictionary for all data sources used"
Starting with this [google sheet](https://docs.google.com/spreadsheets/d/1Ddb72w6Uu3tk0RR8Bl9XqXTrNpWllw99Cbm1UeyDk6w/edit#gid=0), let's organize all of our data sources into one shareable location.
- Where is the source of this data?
- What is it?
- How are we using it?
- Any links available for the data

[2022-03-08 23:28] swatland610 opened #25 "Create Doc Explaining Methods for Calculating Electricity Generation at Net Zero"
Building off of this [google doc](https://docs.google.com/document/d/1RVkM2irM5OR1Z_sacR3SJFpD6A9gqnmaVJFthkQC6C4/edit), let's build out a step by step document on how we might calculate the required electricity generation for all 50 states.

This process will also help us discover what data we have and what data we do not.

[2022-03-08 23:35] nsteins commented on #23
Here is a groupby count of all plants for each fuel category from the eGrid 2020 data set - which covers all plants over 25MW

https://docs.google.com/spreadsheets/d/10htOQRLiCxIaZAvkNbXLSpVyyQl5TFRJ0eiLAACaCbg/edit?usp=sharing

[2022-03-08 23:36] nsteins commented on #23
eGrid also contains information on generation and emissions by plant: https://www.epa.gov/egrid

[2022-03-09 03:14] derekeder commented on #22
Shelby Barron will be taking this one on.

Possible data sources:
- AAA
- insurance stats
- https://www.statista.com/statistics/196036/number-of-registered-automobiles-in-illinois/
- US census - aggregate number of cars per commuter: https://api.census.gov/data/2010/acs/acs1/groups/B08015.html

[2022-03-09 03:18] derekeder commented on #23
David Silverman will take this one on.

Possible sources:
- DOE
- IL CUB
- https://api.census.gov/data/2010/acs/acs1/groups/B08015.html
- https://www.eia.gov/electricity/annual/html/epa_04_01.html

[2022-03-09 03:25] derekeder commented on #21
Possible data sources

- assessors offices
- CoreLogic
- Open Street Map

[2022-03-09 23:06] nofurtherinformation commented on #21
I took a look at OSM data and chatted with a friend about data sources here. The OSM data wasn't too bad to parse, but the numbers seemed overall [quite low](https://github.com/chihacknight/state-by-state-decarbonization/blob/4e618371b69c3b0ac597782b173abf047481ebe4/data/raw/osm_buildings.csv). Fortunately, Microsoft released a building footprints dataset that seems [more reasonable](https://githu

[2022-03-09 23:09] nofurtherinformation commented on #21
If that data seems reasonable to folks (I think OK on my end), I've got it output in an [outer tagged JSON format](https://github.com/chihacknight/state-by-state-decarbonization/blob/buildings-data/data/final/buildings_count.json) like the other data so far, and also an [OSM script for posterity.](https://github.com/chihacknight/state-by-state-decarbonization/blob/buildings-data/data/scripts/summa

[2022-03-10 14:56] derekeder commented on #21
@nofurtherinformation nice work! The Microsoft data seems like a good find! From the [Readme](https://github.com/microsoft/USBuildingFootprints#should-we-import-the-data-into-openstreetmap), it looks like they'd like to import it to OSM, but its a bit of a process.

A few follow-up questions:
- is there a way to break the count down by type of building (esp residential vs non-residential)?
- could

[2022-03-10 23:33] nofurtherinformation commented on #21
Thanks @derekeder! Hopefully in the future it gets integrated to OSM, but I agree for now Microsoft data seems to be the way.

For sanity checks, the correlation with OSM is already pretty good (~75% correlation, r2 of .56), and comparing against population is also straightforward. There are a bunch of metro counties Assessor data we can compare against (Cook, LA, NY, etc.), and Vermont publishes

[2022-03-13 21:27] vkoves commented on #19
This is pretty simple compared to #20 so I can also grab it, especially since it doesn't contain include the graphs it should be like 30 minutes of work!

[2022-03-13 22:55] hkier commented on #18
I will give this a shot.  Please assign this issue to me.

[2022-03-14 14:57] nofurtherinformation commented on #21
Even more interesting, the NERL data gives us by building data on things like HVAC system types, energy consumption across a variety of metrics (heating and cooling, lighting) and seasonal estimates. Food for thought--here's a sample row of ComStock data:

|bldg_id                                                        |105                                      |
|----------------------------------

[2022-03-15 02:49] nofurtherinformation commented on #21
Heya @derekeder, agreed, really detailed! I pulled some summary data by county (we can shift up to state, but may be useful to explore and get a sense of the data). I plopped together a quick explorer with four pages:

- Counts of buildings in each county by residential and commercial
- % of non-electric HCAV/heating (res/com)
- % of non-electric hot water (res/com)
- % of non-electric range/stove

[2022-03-15 23:55] scbarron commented on #22
The most recent/comprehensive source I could find was from the federal highway administration (fhwa)
Can pull CSV of 2020 data [here](https://www.fhwa.dot.gov/policyinformation/statistics/2017/mv1.cfm)
Also available in my [google doc ](https://docs.google.com/spreadsheets/d/1N03Y54xjG0dXl-mQEv69y7qA6RDow-XOa671jXBuZTo/edit?usp=sharing)
Notes:

[2022-03-16 00:19] scbarron commented on #22
EVs Per State, 2020
Can pull CSV of 2020 data [here](https://afdc.energy.gov/data/10962)
Also available in my [google doc](https://docs.google.com/spreadsheets/d/1N03Y54xjG0dXl-mQEv69y7qA6RDow-XOa671jXBuZTo/edit?usp=sharing)
Notes:
The data was last updated in June of 2021 and represented all registered EVs in the US as of December 31st, 2020.
Note that this data includes Battery-EVs only and does

[2022-03-16 01:19] vkoves commented on #13
I'm going to wait to tackle this until issue #19 and issue #27 are closed out, since we might get rid of some inaccessible elements

[2022-03-16 01:31] derekeder commented on #23
Joyce will take this on (Derek to assist)

[2022-03-16 01:36] vkoves opened #28 "Add Data to State Details Page"
Blocked by issue #20, which makes the page.

This should include fleshing out all of the graphs and all of the missing numerical data (indicating by a ?).

[2022-03-16 01:37] vkoves opened #29 "Add Data to Revised Homepage"
Blocked by issue #19, which makes the revised home page layout.

This should include fleshing out all of the graphs and all of the missing numerical data (which will indicated by a ?).

See [Derek's mocks](https://app.moqups.com/pcSQvUMmsyAa1SN58KaKg1EKuYRs8iRX/view/page/a68639957).

[2022-03-16 01:42] vkoves opened #30 "Create FAQ Page to Address Common Concerns"
Let's answer folks' most common questions about electrification. Some things that came up:

- Are induction stoves good?
- Are EVs really better than a gas car? What if I don't drive much?
- What about gas dryers?

**Note:** Saul Griffith's book has some good sections on this too

[2022-03-16 01:46] vkoves commented on #30
Samantha is going to take this on

[2022-03-16 01:59] sjegoodman commented on #30
https://www.rewiringamerica.org/electrify-home-guide
Lots of good stuff here

[2022-03-16 02:03] vkoves opened #31 "Remove Territories from SVG Map"
We don't have emissions data for those (since they are not in the 50 states) so we should just remove them from map.

Also make sure there's no page being generated for Guam or other territories.

[2022-03-16 02:12] derekeder opened #32 "Import vehicle data into website"
With the data that @scbarron has collected for vehicles per state in [#22-comment](https://github.com/chihacknight/state-by-state-decarbonization/issues/22#issuecomment-1068579090), lets incorporate it into the data pipeline that @swatland610 set up.

@joyceohiri is researching the power plants data #23 and is interested in learning more about the data import process.

[2022-03-16 02:30] joyceohiri commented on #23
Coal production and number of coal mines in Illinois (2020):
[CoalProduction_NumberofMines_2020.xlsx](https://github.com/chihacknight/state-by-state-decarbonization/files/8258456/CoalProduction_NumberofMines_2020.xlsx)

[2022-03-16 02:58] sjegoodman commented on #30
Google Doc with lots of topics, some questions written out, bunch of Chicago/ComEd links:
https://docs.google.com/document/d/1bjZmh0gmBaPqcgG0EsrsxPnkSjtniM4b7pUQy8Cc8OM/edit?usp=sharing

[2022-03-16 13:47] derekeder commented on #22
@scbarron this is great! In addition to getting the data import started in #32, it would be great to know what the % of new sales are EVs vs standard cars for each state. not critical, but following up on your research about availability of charging stations and EV subsidies per state would also be helpful.

[2022-03-16 13:49] derekeder commented on #23
@joyceohiri nice - these are good sources for coal mines. we're less concerned about the mines and more on the power plants that use the coal, as well as the natural gas plants.

[2022-03-16 14:29] derekeder commented on #21
@nofurtherinformation thanks for this. This is really great! I agree its close enough that we should proceed with it. do you want to take on getting a CSV of the data rolled up by state with the relevant columns of data?

[2022-03-17 01:30] #20 closed

[2022-03-17 01:30] #19 closed

[2022-03-17 04:00] nofurtherinformation commented on #21
Definitely! Just filed a PR that compiles all this. For convenience, here's a link to the [google sheet](https://docs.google.com/spreadsheets/d/1GJqhBUVMXMFAitroEdao0cz6orRJTW7prUCWMxmKp2Y/edit?usp=sharing) and a direct [CSV link](https://docs.google.com/spreadsheets/d/e/2PACX-1vQrL3BARI-UoQ51qElwzh7z0oqSW8_CdLztoqEL7TKQ7CFEFHh_ToH7nBrj3qHmK7OXo-MYgKgaCwO5/pub?gid=0&single=true&output=csv)!

[2022-03-23 00:23] vkoves opened #37 "Move Individual Pages to Use Individual State Icons Rather than Full Map"
State face should work: https://propublica.github.io/stateface/

See [Derek's mocks](https://app.moqups.com/pcSQvUMmsyAa1SN58KaKg1EKuYRs8iRX/view/page/a68639957).

[2022-03-23 00:37] derekeder commented on #23
Promising data source from the EPA: https://www.epa.gov/airmarkets/power-plants-and-neighboring-communities#mapping

[2022-03-23 01:32] nofurtherinformation commented on #31
Was multitasking a bit -- dropping this here:

https://gist.github.com/nofurtherinformation/ef709796f87db182abac46b8c450f3d8

[2022-03-23 02:23] vkoves commented on #31
I actually don't think we use the SVG but use a big JSON file, sorry for the not specifying. I should be able to just remove the related territories pretty easily now that I think about it.

[2022-03-23 02:53] #37 closed

[2022-03-23 02:53] #31 closed

[2022-03-23 18:56] derekeder commented on #30
This is a great compilation of campaigns and tactics used by gas companies in New York to put up opposition to bills that reduce the amount of natural gas usage. Something to reference when thinking about the kinds of disinformation we will likely encounter: https://docs.google.com/document/d/1cTnGv_x5VEuXjFv75osbEcIRt9-hLBDRZOaFlm-vSi0/edit

[2022-03-24 22:54] #18 closed

[2022-03-25 01:06] vkoves commented on #29
Closed by PR #39 and #36, which added US emissions by category single bar graph to the homepage.

[2022-03-25 01:06] #29 closed

[2022-03-26 12:29] #21 closed

[2022-03-26 19:36] hkier opened #41 "Upgrade recharts to 2.1.9"
The current version of recharts does not properly display the area chart required for issue #17.  This problem is solved in version 2.1.9

[2022-03-26 23:54] vkoves commented on #41
I should be able to open a quick PR for this tonight - I'm also tinkering with existing graphs for the #28 so I want to make sure they don't break on upgrade

[2022-03-27 04:14] hkier commented on #17
As I expect the emissions data to lag behind the current year (current data ends 2018 and we are in 2022), how should the "missing data" be handled in the SimpleAreaChart.  Do we want a gap?  Do we project from the last year in which we have data?  Something else?

[2022-03-27 21:59] derekeder commented on #17
@hkier the chart should show the projection based on the last year of data we have. It'll be on us to find data up to 2022 and handle that in a separate issue we already have open https://github.com/chihacknight/state-by-state-decarbonization/issues/10

[2022-03-28 03:11] hkier opened #42 "Console Warning from stackedbar.js"
The following message is being received in the console:

Warning: Invalid DOM property `class`. Did you mean `className`?
    in table (at stackedbar.js:16)

A quick look does indicate "class" is being used instead of "className"

Making the change is easy, BUT the web page will need to be checked to make sure nothing breaks.

[2022-03-28 03:19] hkier commented on #17
The way the component is currently written, the historical data ends in 2018.  2019-2021 have no data.  The projection starts at 2022 using the historical data from the last year of historical data as a starting point.  It is not obvious from the area graph there are years with missing data.

The code is written in such a way, it does not matter when the historical data ends.  It is also written s

[2022-03-28 14:20] vkoves commented on #42
I have a fix for this in my draft PR, #40, so I'll assign this to myself

[2022-03-30 00:46] scbarron commented on #32
3/329 update - haven't been able to get docker on my work computer, so stalled on this. I formatted the data in the google sheets to make it easier to import see below
[MVbyState_RawData2020
](https://docs.google.com/spreadsheets/d/1N03Y54xjG0dXl-mQEv69y7qA6RDow-XOa671jXBuZTo/edit#gid=1465868077)
[EVbyState_RawData2020](https://docs.google.com/spreadsheets/d/1N03Y54xjG0dXl-mQEv69y7qA6RDow-XOa671jX

[2022-03-30 00:55] scbarron commented on #22
3/29 update: General data is available (see below). [MVbyState_RawData2020](https://docs.google.com/spreadsheets/d/1N03Y54xjG0dXl-mQEv69y7qA6RDow-XOa671jXBuZTo/edit#gid=1465868077),[EVbyState_RawData2020](https://docs.google.com/spreadsheets/d/1N03Y54xjG0dXl-mQEv69y7qA6RDow-XOa671jXBuZTo/edit#gid=2092834002)
% of EVs per state vs. standard cars pending. If we make the assumption that the # of EV r

[2022-03-30 01:27] vkoves commented on #41
This will be done in PR #43

[2022-03-30 01:32] vkoves commented on #12
@derekeder - for when you get back, is this still something we want to do? I'm assigning this to you just to confirm

[2022-03-30 01:32] vkoves commented on #11
@derekeder - for when you get back, is this still something we want to do? I'm assigning this to you just to confirm

[2022-03-30 02:59] joyceohiri commented on #23
Thanks for sharing! Here's the data from that source
[power_plants_and_communities.xlsx](https://github.com/chihacknight/state-by-state-decarbonization/files/8376650/power_plants_and_communities.xlsx)
:

[2022-03-30 03:06] joyceohiri commented on #23
[power_plants_and_communities.csv](https://github.com/chihacknight/state-by-state-decarbonization/files/8376686/power_plants_and_communities.csv)

[2022-03-30 03:08] vkoves commented on #23
Great work, Joyce, thank you!

[2022-03-30 03:31] nofurtherinformation opened #45 "Refactor GraphQL Queries"
With multiple datasets coming in (emissions, cars, buildings) queries are getting [a bit messy](https://github.com/chihacknight/state-by-state-decarbonization/blob/4544e0a24eb63b52438e9266a4bad006993b53e7/src/components/state-details.js#L388). Probably worth taking a look at different ways to execute these queries, and potentially changing up the data format if needed!

[2022-03-30 19:48] nofurtherinformation commented on #45
Not a graphql wizard, so leaving this one unassigned for now...but potentially worth considering swapping to internally tagged JSON (eg:
[code]
And we can then generalize the queries a bit more like this?

<img width="813" alt="Screen Shot 2022-03-30 at 2 45 36 PM" src="https://user-images.githubusercontent.com/10041771/160918224-b6210cc4-2772-4b26-a63a-d925f271b8ba.png">

[2022-04-05 16:59] vkoves opened #46 "Make State Details Page Graph Sticky"
Make the graph order match the section order and make the graph sticky, using a scroll observer to update the graph based on where you are on the page.

[2022-04-05 17:04] derekeder commented on #12
lets close for now and revisit once we have our primary data pages complete

[2022-04-05 17:04] #12 closed

[2022-04-05 17:04] derekeder commented on #11
same as #12, lets close for now and revisit once we have our primary data pages complete

[2022-04-05 17:04] #11 closed

[2022-04-05 17:10] derekeder commented on #23
@joyceohiri thanks - this looks to be what we need! I think the next step is to review the data and confirm it has everything we need. I put this in a google sheet for easier/shared access: https://docs.google.com/spreadsheets/d/17sBCD1prwzRsuA2oT-CA6VmOhEeB6Ao9m32B12EAPKs/edit#gid=737725675

based on what I see, we can use the `Plant state abbreviation` and `Plant primary coal/oil/gas/ other foss

[2022-04-05 17:14] derekeder commented on #9
based on the conversation in https://github.com/chihacknight/state-by-state-decarbonization/pull/35#issuecomment-1079053261, we will be keeping the files separate for our own sanity.

[2022-04-05 17:14] #9 closed

[2022-04-05 18:04] derekeder commented on #46
Per https://github.com/chihacknight/state-by-state-decarbonization/pull/40#issuecomment-1089040713 we'll need to come up with an alternative for mobile view. We will probably wind up making use of Bootstrap 4's visibility utilities: https://getbootstrap.com/docs/4.6/utilities/visibility/

[2022-04-06 03:04] #22 closed

[2022-04-06 03:08] #17 closed

[2022-04-06 03:10] #41 closed

[2022-04-06 03:16] hkier commented on #23
Will look at the data to understand it and get ideas for bringing it into the website.

[2022-04-07 14:08] #45 closed

[2022-04-09 02:31] nofurtherinformation commented on #32
Closed by #44

[2022-04-09 02:31] #32 closed

[2022-04-13 22:53] derekeder commented on #23
this is done! moving on to data import

[2022-04-13 22:53] #23 closed

[2022-04-13 22:54] derekeder opened #49 "import power plant data"
With #23 done, we should add it to the data import process and make the data available in the state detail page.

[2022-04-13 23:49] jpvelez opened #50 "Tweak Bar Chart Styling to Make Emissions Clearly Gone"
could we make the bar look more like this as it is depleted?
so it’s clear that like... them emissions are gone

Like in [these slides](https://docs.google.com/presentation/d/1ShFq8tIScaU8MuIfJj30oAaBll3J4wfSEd_fv1FAGu8/edit#slide=id.g11f8e3f3150_0_21):

![Screenshot from 2022-04-13 19-51-04](https://user-images.githubusercontent.com/3187531/163292755-7b45a7c5-c18f-4122-8849-95db9fbe186f.png)

[2022-04-14 02:01] derekeder opened #52 "render power plants on state detail page"
Once #51 comes in, we will have access to 3 lists of power plants: coal, gas and oil.

Following the wireframes, we'll want to iterate over this list and show a power plant icon for each one:

coal
![sim-city-coal-plant](https://user-images.githubusercontent.com/919583/163299062-c4f8c382-5ee0-4ee6-b9e8-e05103096826.png)

gas
![sim-city-gas-plant](https://user-images.githubusercontent.com/919583/16

[2022-04-15 01:10] #49 closed

[2022-04-15 01:11] derekeder commented on #52
@hkier want to take a stab at this one?

[2022-04-15 18:38] hkier commented on #52
yes, thank you!

[2022-04-15 18:38] hkier commented on #52
Crazy Passover/Easter weekend.  will work on it as I can.

[2022-04-15 22:13] derekeder opened #53 "Calculate And Show Emissions (MTCO2e) For Power Plants Rather Than Capacity"
In the [source data for power plants](https://docs.google.com/spreadsheets/d/17sBCD1prwzRsuA2oT-CA6VmOhEeB6Ao9m32B12EAPKs/edit#gid=737725675), each row has data on the emissions for each plant:

![Screen Shot 2022-04-15 at 4 59 57 PM](https://user-images.githubusercontent.com/919583/163640230-bfe20914-7ef0-410c-a4e4-22c0f25b6ce4.png)

It looks like these are broken out into individual types of emi

[2022-04-19 18:31] #46 closed

[2022-04-20 01:37] vkoves opened #54 "Fix Mobile Styling Issues"
Fix a few mobile styling issues on the homepage and state details page:

| | |
| --- | --- |
| ![Screenshot from 2022-04-19 20-32-29](https://user-images.githubusercontent.com/3187531/164129377-03c823dc-f99f-43de-900b-18968843ec46.png) | ![Screenshot from 2022-04-19 20-32-40](https://user-images.githubusercontent.com/3187531/164129382-d2f4eaae-7e7b-4cdc-9237-a71eb35c2907.png) |
| ![Screenshot from

[2022-04-20 01:42] vkoves opened #55 "Flesh Out the About Page"
We should flesh out the about page explaining generally:

- Who made this
- Why we made it
- Our sources?

[2022-04-20 01:42] vkoves opened #56 "Flesh out the Terminology Page"
Explain any confusing terms, like CO2 equivalent, million metric tons, MW (Megawatts) capacity, and any other terms folks want to define.

[2022-04-20 01:43] derekeder opened #57 "Create & Add Final Graphics for Appliances & Power Plants"
We will need a set of graphics for home appliances, buildings, power plants, cars, etc that are consistent throughout the site. We'll need to find a graphic designer / illustrator to help us make these.

[2022-04-20 01:48] derekeder commented on #50
we discussed and there are some challenges to accomplish this with `Recharts`. We're going to address this after the MVP

A few resources for reference:
* https://recharts.org/en-US/api/Cell
* https://recharts.org/en-US/api/ReferenceArea

[2022-04-20 01:52] derekeder commented on #10
This is currently causing an issue with our main emissions & projection chart with missing data for 2019, 2020 and 2021:

![Screen Shot 2022-04-19 at 8 51 12 PM](https://user-images.githubusercontent.com/919583/164130846-781ff008-9654-46ea-817c-bc284f9bbf2d.png)

[2022-04-20 03:08] derekeder commented on #30
I'll plan to add some content to the FAQ in the next week

[2022-04-20 03:11] derekeder opened #59 "projection area chart is bumpy for low emissions states"
Looks like we're rounding to the nearest whole number for emissions and projections. This causes some strange looking charts for the lower emissions states:

![Screen Shot 2022-04-19 at 10 10 05 PM](https://user-images.githubusercontent.com/919583/164142693-18511790-47f1-4421-8105-30a5b247e2af.png)

[2022-04-21 21:49] derekeder commented on #55
stubbed out a Google doc to draft content here: https://docs.google.com/document/d/1qXuioHvuRF28oBrKD_iPPiQRbiQw_A4kx3FU245e3go/edit#

[2022-04-21 22:06] derekeder commented on #30
I stubbed out some questions i think we should answer in 3 main categories:

* Hesitation and skepticism about electrification (working title)
* Other proposals to fight climate change
* Things electrification doesn’t address

https://docs.google.com/document/d/1bjZmh0gmBaPqcgG0EsrsxPnkSjtniM4b7pUQy8Cc8OM/edit#

We can start researching and answering each one.

[2022-04-24 05:39] hkier commented on #57
I think I found somebody to take this on.  I will give you folks more info in the Slack channel.

[2022-04-26 20:30] derekeder commented on #57
Description of what we need:

We are looking for a graphic artist to create a set of static images we can use throughout our website that focus on power generation and building electrification. The website wireframes represent most of what we need: https://app.moqups.com/pcSQvUMmsyAa1SN58KaKg1EKuYRs8iRX/view/page/a97a1436c

Here's the full list of graphics we'll need:
* gas furnace, gas stove, gas

[2022-04-26 21:36] derekeder commented on #55
First draft of the about page is done. Open question on how we want to handle the data section

[2022-04-27 01:44] SuragNuthulapaty commented on #10
https://www.eia.gov/environment/emissions/state/
Table 1 has data per state for each year up to 2019

[2022-04-27 01:51] vkoves opened #65 "Draft Call to Action Page"
This could go to a new Take Action page and then sections within it. This should fix all links in this type of panel:

![Screenshot from 2022-04-26 20-50-54](https://user-images.githubusercontent.com/3187531/165422260-01a6c236-7766-4976-97fb-551d6c9a1015.png)

[2022-04-27 04:27] hkier opened #66 "State Header should be included with sticky single bar"
The header information at the top of the page should be included with the sticky single bar bar graph as the user scrolls down the page.  Most importantly, the user should be able navigate back to the map or other pages without having to scroll all the way back to the top of the state details page.

[2022-04-27 15:20] derekeder commented on #57
After discussing, we decided that our graphic needs are pretty specific - we like the power plants sim city style so it makes sense to get graphics for the appliances, cars, etc that match that style. This means finding a graphics artist that does pixel art.

@nofurtherinformation suggested we can find what we want on Fiverr: https://www.fiverr.com/search/gigs?query=pixel%20art&source=top-bar&acmp

[2022-04-27 18:29] #54 closed

[2022-04-29 15:48] #52 closed

[2022-04-29 15:51] jpvelez opened #68 "Add progress bar to electrical generation section"
We should add progress bars to the electrical generation section:

"Coal plants closed"

or

"Dirty Power Plants replaced with Clean Power Plants"

ectc

[2022-04-29 16:00] derekeder commented on #68
A few challenges with showing "XX/145 power plants replaced":

- all power plants are not the same in terms of megawatts generated. is closing the biggest coal plant the same as closing the smallest gas plant? I would argue no
- we have no data on the history of closed coal plants. all the data we have is about the current state of things. it may not be possible to get an accurate count for all 50

[2022-04-29 17:32] jpvelez commented on #68
OK YOU WIN

for now

[2022-05-02 00:22] hkier opened #70 "react-scrollspy is a dependancy"
react-scrollspy is a dependency which is needed for an initial installation of the repository.  docker-compose up --build will fail because the dependency has not been added.  The user needs to manually add react-scrollspy.  Please update either the README document to indicated this needs to be manually added or update the package to automatically bring in this package.

[2022-05-03 22:40] swatland610 commented on #28
hoping to get this up by end of this weekend! data is fleshed out and available but I just need to work on the front end piece.

One question I have is that should we ground things in **wind farms** / **solar farms** or **wind turbines** & **solar panels**.

I'm leaning more towards turbines and panels as that seems more tangible for a reader. A **farm** could have a wide variety of varying amount

[2022-05-04 01:37] vkoves commented on #66
Definitely agree with this, and it's a light touch change. I can grab it!

[2022-05-04 01:39] vkoves commented on #70
@derekeder - do you know anything about this? I added the dependency using the directions in the `README` but I also encountered issues with Docker not handling things.

[2022-05-04 01:49] derekeder opened #72 "round emissions data to two decimal points"
In #71 @hkier rounded the projected emissions to two decimal points. We need to do the same for the historical emissions. This looks to be done here: https://github.com/chihacknight/decarbonize-my-state/blob/main/src/components/simpleareachart.js#L18

Looks like this:

![Screen Shot 2022-05-03 at 8 49 22 PM](https://user-images.githubusercontent.com/919583/166613252-b05f6fd7-70b1-407f-acd3-26f296c

[2022-05-04 01:49] #59 closed

[2022-05-04 03:05] derekeder commented on #70
we discussed and it may be because `package-lock.json`, which should not be necessary anymore. I'll try removing this file to see if this resolves the issue

[2022-05-04 03:20] derekeder opened #73 "Site Launch Checklist"
From the [DataMade Site Launch Checklist](https://github.com/datamade/site-launch-checklist)

## Load Testing and Website Optimization

## Deployment and DNS

* [x] Create a production deployment
* [x] Double check that production-level resources have been provisioned
* [x] Purchase your domain and create the DNS record to point it at your production deployment
* [x] Set up SSL

## Web Search Inde

[2022-05-04 03:25] derekeder commented on #28
@swatland610 i think solar panels & wind turbines make sense since I assume there are farms of widely varying sizes

[2022-05-04 03:49] vkoves commented on #28
I will say turbines and solar panels also vary in size. We might want to talk about either land area (e.g. X acres/sq kilometers of solar) or power capacity and land (e.g. X acres of solar panel 500 MW). There's not really a super consistent way per se but I think describing the amount of land dedicated to power is valuable and what Juan Pablo did.

[2022-05-04 13:14] hkier commented on #73
Derek,

Does your checklist need an item to assure website meets disability access requirements?

[2022-05-04 13:59] derekeder commented on #73
@hkier yes it should! @vkoves this is your area of expertise - what steps should be added to ensure accessibility ahead of launch?

[2022-05-04 15:03] hkier commented on #73
@derekeder since I know you grabbed this list from a source list, I wonder if your source list also needs to be updated to include an accessibility item/task?

[2022-05-04 15:14] hkier commented on #28
As soon as you talk about solar power generation, you run into a tracking problem.  I'm sure there will be data on the power generation capacity of solar/wind farms.  However, this will not include home solar power generation.   My impression is home solar will become more prevalent.  As such, each home adding solar power will reduce the capacity needed at the power generating plants.  Also solar

[2022-05-04 15:43] derekeder commented on #73
@hkier yes I was thinking the same thing. Lets update the list here with the accessibility items, and then I can add them back to the source list. It would be a great addition!

[2022-05-04 20:45] derekeder commented on #65
This website on Legal Pathways to Deep Decarbonization has a bunch of model legislation. https://lpdd.org/model-laws/

They also track laws passed in each state, which can be linked to directly with the state abbreviation code: https://lpdd.org/resources/?fwp_res_location=il

[2022-05-05 21:34] #70 closed

[2022-05-07 16:30] hkier commented on #72
@derekeder I created branch round-emissions for this issue and updated rounding in simpleareachart to 2 decimals.  However, the data coming in from emissions.json is only 1 decimal place.  The data extraction queries also need to be updated to 2 decimals.  However, I am not familiar with Python and would some assistance to update the data queries to provide the data with 2 decimal places.

[2022-05-08 17:31] vkoves commented on #55
@derekeder - should we rename the site to "Decarbonize My State"? It's a much shorter and catchier title in my mind than "What does it take to decarbonize my state".

[2022-05-10 02:09] #66 closed

[2022-05-10 18:30] derekeder commented on #72
lets take a look at this tonight @hkier

[2022-05-10 19:56] nofurtherinformation commented on #72
I'll be there tonight and can help take a look!

On Tue, May 10, 2022 at 1:30 PM Derek Eder ***@***.***> wrote:

[2022-05-11 00:23] vkoves opened #77 "Accessibility - Links Fail Contrast Compliance"
Found using [Axe DevTools](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles) that there are three real contrast issues, all related to links. We should darken these and then re-check with AxeDevTools or [contrast-ratio](https://contrast-ratio.com/).

The issues are:

| Header links | Footer link | Links in State Details Action Panel |
| --- | --- | --- |
| ![Screenshot from 20

[2022-05-11 00:25] vkoves opened #78 "Accessibility - State Links In Homepage Map Have Invalid Role"
Found using [Axe DevTools](https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd), which showed that we have no `role` on the state links, according to [MDN docs](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles) we should be able to set `role="link"` which seems appropriate since these are basically an SVG hack for an anchor tag.

[2022-05-11 02:26] vkoves opened #81 "Accessibility - <html> element missing `lang` attribute"
From [AxeDevTools](https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd):

![Screenshot from 2022-05-10 21-24-49](https://user-images.githubusercontent.com/3187531/167756421-aad96e4b-7f56-4078-b34d-2cd6b6da47dd.png)

In HTML this is as simple as adding `lang="en"` to the `<html>` element, but Gatsby doesn't let us easily access this (😭) so we likely

[2022-05-11 02:27] vkoves commented on #81
@nofurtherinformation said we should add [the Helment package](https://www.npmjs.com/package/helmet) which lets us manipulate `<head>` data in Gatsby.

[2022-05-11 02:36] vkoves commented on #57
Derek mentioned he's going to have some art for us thanks to Juan Pablo's talk getting a video

[2022-05-11 02:42] #72 closed

[2022-05-11 03:02] nofurtherinformation opened #83 "Meta and Head Tags"
Alongside adding the HTML lang attribute, each page should have meta tags, implemented in react helmet.

[2022-05-11 19:50] derekeder commented on #55
@jpvelez to take a pass on the copy here: https://docs.google.com/document/d/1qXuioHvuRF28oBrKD_iPPiQRbiQw_A4kx3FU245e3go/edit#

[2022-05-11 19:51] derekeder commented on #57
@jpvelez has a graphic artist working on a video related to this project. our plan is to reuse the same graphics here when they're ready.

[2022-05-11 19:53] derekeder commented on #50
closing this for now

[2022-05-11 19:53] #50 closed

[2022-05-15 16:32] #81 closed

[2022-05-15 16:37] nofurtherinformation commented on #83
Closed by #84

[2022-05-15 16:37] #83 closed

[2022-05-16 01:26] derekeder commented on #24
@swatland610 I've started documenting this in the About page draft: https://docs.google.com/document/d/1qXuioHvuRF28oBrKD_iPPiQRbiQw_A4kx3FU245e3go/edit#heading=h.1w2xoxatg5hj

[2022-05-16 19:37] swatland610 commented on #24
@derekeder yes! I'll try to get to it tomorrow morning. As well as my other issue I just need to wrap up

[2022-05-18 00:41] vkoves opened #90 "Accessibility: State Map is Tabbable But Links Can't Be Activated with Just a Keyboard"
In PR #82 I made the state graph on the homepage tabbable and show tooltips, but I didn't check if you could actually then _use_ those state links. Indeed they don't work, I likely need to add a key handler since right now it's just using a click handler.

[2022-05-18 00:43] vkoves opened #91 "Accessibility: Missing Header Skip to Main Content Link"
Learn more from [this page from University of Illinois](https://fae.disability.illinois.edu/rulesets/BYPASS_1/), but basically we need a skip link so keyboard users don't have to tab through the header after every single navigation.

[2022-05-18 00:47] derekeder opened #92 "custom 404 and 500 error pages"
Related to #73

Gatsby documentation on adding 500 on 404 pages:
https://www.gatsbyjs.com/docs/how-to/adding-common-features/add-500-page/
https://www.gatsbyjs.com/docs/how-to/adding-common-features/add-404-page/

[2022-05-18 00:48] vkoves commented on #73
Just did a quick scan in grayscale and everything looks solid - our colors have clear darkness values and are differentiable even without color:

![Screenshot from 2022-05-17 19-47-34](https://user-images.githubusercontent.com/3187531/168934826-c6f1c7b0-954d-45c9-87ef-7afa79f15ea3.png)

[2022-05-18 00:53] derekeder opened #93 "safari browser testing"
test the website using the Safari web browser and confirm that:

* Scrolling is easy
* Nav bar works
* Hoverable things are tappable
* Charts and maps look ok

[2022-05-18 00:53] derekeder opened #94 "Windows edge browser testing"
test the website using the Windows Edge web browser and confirm that:

* Scrolling is easy
* Nav bar works
* Hoverable things are tappable
* Charts and maps look ok

[2022-05-18 01:00] derekeder opened #95 "import 2019 emissions data"
Following on from https://github.com/chihacknight/decarbonize-my-state/issues/10, EIA has published emissions data for 2019. However, this data does not have the sub-category breakdowns we have in our original source.

Updated EIA data: https://www.eia.gov/environment/emissions/state/
Source data from World Resources Institute: https://datasets.wri.org/dataset/climate-watch-states-greenhouse-gas-e

[2022-05-18 01:04] derekeder commented on #65
@jmadans is going to do some research on this

[2022-05-18 01:04] nofurtherinformation opened #96 "Twitter Card Is Unhappy"
Other social cards seem OK, but we're failing twitter's validator:
![image](https://user-images.githubusercontent.com/10041771/168936279-cfcc8eb0-fe76-4376-a114-6516c4fa8fed.png)

[2022-05-18 01:11] derekeder opened #97 "Create Sharing Social Images for Each State"
Using Canva.com, make some Twitter and Facebook cards from the site for visitors to share out.

Examples: https://justicedivided.com/action

Points to cover:
- national breakdown chart of emissions sources
- state map
- emissions breakdown for each state

[2022-05-18 01:18] SuragNuthulapaty commented on #93
![Screen Shot 2022-05-17 at 8 17 17 PM](https://user-images.githubusercontent.com/77648585/168937516-e11ae74a-eadc-4190-8965-bd6cc7424e9c.png)
![Screen Shot 2022-05-17 at 8 17 31 PM](https://user-images.githubusercontent.com/77648585/168937514-86fba5a8-cd03-4a02-941d-cdd5d4458de7.png)

The site works as expected on safari

[2022-05-18 01:18] #93 closed

[2022-05-18 01:30] vkoves commented on #73
Also confirmed headings are good on the homepage and the state details page:

![Screenshot from 2022-05-17 20-29-19](https://user-images.githubusercontent.com/3187531/168938648-60613992-6976-4fa3-bdb3-6f6afa0c7b04.png)

[2022-05-18 01:44] derekeder commented on #10
@SuragNuthulapaty thank you for sharing this. EIA has indeed published emissions data for 2019. However, this data does not have the sub-category breakdowns we have in our original source.

Updated EIA data: https://www.eia.gov/environment/emissions/state/
Source data from World Resources Institute (WRI): https://datasets.wri.org/dataset/climate-watch-states-greenhouse-gas-emissions

I emailed Joh

[2022-05-18 01:45] derekeder commented on #95
closing this until #10 is resolved

[2022-05-18 01:45] #95 closed

[2022-05-18 02:26] #77 closed

[2022-05-19 01:35] #92 closed

[2022-05-20 17:16] #91 closed

[2022-05-22 22:28] vkoves commented on #90
This was resolved by PR #98, I just didn't tag it properly.

[2022-05-22 22:28] #90 closed

[2022-05-22 22:43] vkoves commented on #96
@derekeder and @nofurtherinformation - since there's 50 states I wonder if it would be worth doing social card images dynamically so we could show something like the state breakdown. I could make a quick basic social image for the site, but I think making it dynamic would be cool and prevent it going out of date. This article has some methods specifically for doing this with Gatsby: https://postho

[2022-05-23 13:55] swatland610 opened #101 "Update Current Electricity Generation data for our calculations with 2021 data"
Just creating an issue for transparency. I've already done this in my latest PR (#89).

Once we merge PR #89 into main then, we can close this issue!

[2022-05-23 21:47] jmadans commented on #65
@jmadans is logging on.....

Initial impression is that we have decision to make: do we want people to better understand "what's happening" with regard to climate action in their state or do we want to connect with an advocacy group that is going to onboard them. If it's the latter than these trackers aren't going to solve that problem.

[2022-05-24 07:36] #101 closed, assigned to nobody

[2022-05-25 01:41] herrerarobert commented on #96
Fix for this has been merged into main branch.

[2022-05-25 01:41] #96 closed

[2022-05-25 01:42] nofurtherinformation commented on #94
Edge works!

[2022-05-25 01:52] derekeder commented on #65
Lets move this content into a 'Take action' page and link off to it. @jmadans would you mind taking a first draft of it in a Google doc with the research you've done?

[2022-05-25 01:53] vkoves commented on #97
Here's the comment I made on another issue:

https://github.com/chihacknight/decarbonize-my-state/issues/96#issuecomment-1134005902

[2022-05-25 02:02] derekeder opened #104 "Add Privacy Policy Page"
Related to #85 create a privacy policy page that documents how we track usage analytics anonymously.

[2022-05-25 02:06] vkoves commented on #13
I've done some testing with a screen reader and the only last issue is the graphs are not accessible in any way, but I don't think there's a clean fix for that, so I am closing out this issue and we can open a ticket for that specifically

[2022-05-25 02:06] #13 closed

[2022-05-25 02:08] vkoves commented on #73
@derekeder - only found one last issue:

I wonder if there's a way we could show the data in a table as an alternate means of access, which is how I handled this at my work.

[2022-05-25 02:15] derekeder commented on #56
drafted a document here: https://docs.google.com/document/d/1VAIS0-47qUc7w6G9zJgXgY8BgmSWe-hJZGe6lRkI6GM/edit

[2022-05-25 02:16] nofurtherinformation commented on #104
Here's the termly generated example:

ucts/privacy-policy-generator).

[2022-05-25 02:17] vkoves opened #105 "Create Modal Table For Emissions Data for Accessibility"
In investigating the accessibility of the site in issue #13, the one outstanding issue I found was that the US and state emission graphs can't be read by a screen reader (which makes sense, it's an `<svg>`). Alt text is not going to be sufficient or scalable, so my suggestion is to:

1. Create a table view of the emissions data
2. Make a modal showing this table next to the emissions graphs
3. (Id

[2022-05-25 02:19] derekeder opened #106 "Create Resources Page"
List links to pages that we've found over the course of building this website that aren't necessarily on the calls to action page.

- links to website / articles
- videos
- books

Google doc: https://docs.google.com/document/d/1ovl13s905bOHRTOBxfDPRVwLDW9l8gleKUDF-_qDooE/edit

[2022-06-01 00:09] hkier opened #108 "Update Replacement Power Generating Progress Graph"
We currently break out the replacement power generation by wind and solar.  However, we do not take in to account emerging technologies.  Furthermore, the current method allocates a specific replacement ratio between wind and solar.  It really does not matter how the carbon emitting plants are replaced, they just need to be replaced by a clean generating plant.

[2022-06-01 02:28] vkoves opened #109 "Improve Wording of the State Details and Simplify Homepage to Make It More Compelling"
After showing the site to a friend, they didn't understand the central thesis of the site from looking at it. I think the homepage just doesn't explain the central argument (which we steal from Saul Griffith) which is basically:

You have heard that to save the planet you need to do a bunch of small things (bring a bag to the grocery store! don't buy bottled water!) but even if everyone did all of

[2022-06-03 23:30] vkoves opened #110 "Meta Description is Missing"
The meta description is broken for the homepage and the state pages, as I can see via Duck Duck Go or Google:

![screenshot_20220602-170407](https://user-images.githubusercontent.com/3187531/171966474-4ecd03f4-987b-4e01-9343-2fa476aa0384.png)

We should make the meta description for the state page unique to the state

[2022-06-07 18:22] derekeder commented on #65
@jmadans has a draft of this page here: https://docs.google.com/document/d/1twZfl9xP096fnwq4TwkcXwEbNZKPNB7rWc4fsVMKWgk/edit

[2022-06-08 00:58] jmadans commented on #65
Question for discussion: How will people get to the take action page? I think we should go with some combo of the following:

1. Add it to the navigation in the top right (which currently just has home). Downside:
2. Add it as another button to the right of "Back to Map" in each of the state profile pages.
3. Pick a place on each of the state profile page to highlight the call to action.
4. Pick m

[2022-06-08 01:29] vkoves commented on #65
Personally I'd suggest number 1 and number 3 and put the call to action at the bottom of the page, since we didn't want to break up the story of each state detail page.

[2022-06-14 00:42] jmadans commented on #65
Here's a link to the draft google form: https://docs.google.com/forms/d/1423PcQc6klSW0osK_pmnsDEwrlvWoD6BcSRInu7p5I0/edit

I've made it editable by anyone with the link for now so you can edit the iframe code to make it fit however you want.

Here's the iframe code:
`<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdiwiT6OZO0jsnLu22r6ClBZLh8fvfGIiYu_5coOvjYXqogtw/viewform?embedded=true" widt

[2022-06-14 22:17] hkier commented on #56
I have added a bunch of terms and definitions to the terminology page.  Please take a look and let me know if I've missed any obvious terms which should be included on this page.

[2022-06-14 22:19] hkier commented on #55
I have taken a look at the page on Google Docs.   I have made some quick edits and left comments in the document for other issues.  We should discuss this on Tuesday.

[2022-06-14 22:59] hkier commented on #30
I do not have access to the google doc with the FAQ.  Can someone please add howardrkier@gmail.com?

[2022-06-15 00:27] jmadans commented on #30
I added a answers to a couple of questions. IMHO I don't think we know enough to anticipate the questions and our users still have google. If we really want to usefully answer questions beyond the most core - say - three then let's just let people leave questions and I will answer them as we go.

I'm volunteering because I think we will get ZERO questions.

[2022-06-15 01:32] vkoves commented on #108
Closing this based on our discussion tonight - we want to specifically highlight solar and wind

[2022-06-15 01:32] #108 closed

[2022-06-15 02:44] herrerarobert commented on #110
Is this bug still present? I made a PR with a small change to get a netlify preview build, and the search engine results pages appear to be dynamic by state when tested on https://metatags.io/ Here is a screenshot:
![image](https://user-images.githubusercontent.com/27985352/173725582-e74cf603-a7e6-41cd-b103-ccebdd6bb98a.png)

[2022-06-15 17:06] vkoves commented on #110
@herrerarobert - interesting, it looks like the _homepage_ is missing a description, but state pages already have it. If you just fix the homepage then, that should be fine!

| Homepage | State Page |
| ![Screenshot from 2022-06-15 12-04-52](https://user-images.githubusercontent.com/3187531/173884946-e4e1b13a-c193-4eac-9124-d0334bc7cdde.png) | ![Screenshot from 2022-06-15 12-05-00](https://user-im

[2022-06-16 00:37] #55 closed

[2022-06-22 01:24] #110 closed

[2022-07-01 13:30] #105 closed

[2022-07-07 01:46] #65 closed

[2022-07-15 21:57] derekeder commented on #73
last issue with accessibility resolved in #116

[2022-07-15 21:57] #73 closed

[2022-07-15 22:05] derekeder opened #127 "count of buildings and cars to replace don't account for already changed"
The current calculation for number of buildings electrified takes the total buildings in the state and divides it by the number of years to 2050 (28). This does not account for the buildings already electrified. We should subtract that from the total and calculate the change / year from there. Same with cars

For Illinois buildings:

* current: 5.2M buildings / 28 = 187,000 per year
* should be: 5

[2022-07-18 13:24] derekeder opened #128 "Question on Solar / Wind Generation Figures & Sources"
Got a response from a local environmental activist in my neighborhood:

Our figures are quite different than that:

![Screen Shot 2022-07-18 at 8 23 44 AM](https://user-images.githubusercontent.com/919583/179521100-ea7f24ed-1e2c-4d44-a23d-6deb7b8d2c80.png)

I asked for their data source and will report back if they share one we can use. It would be good to document and share (as I think @swatland6

[2022-07-18 16:39] derekeder commented on #10
I emailed Johannes and Mengpin the launched website and asked for an update on the data. They say the 2019 data will be available in mid-August

[2022-07-19 03:18] swatland610 commented on #128
@derekeder yikes! a little depressing start data wise, but I'm loving that we are getting questions and feedback on it!

Here are my thoughts ( & my own steps for troubleshooting this right now):

1. Just gut checking our EIA data, I'm noticing one slight oversight on my part. Where it says `since Illinois has XX MWs etc...` that's actually showing the actual output - not the capacity. So I need t

[2022-07-20 00:57] derekeder opened #129 "Clarify Missing Emissions Data for 2019-2022 in Area Chart"
There's a gap between 2018 and 2022 in our area chart:
![Screen Shot 2022-07-19 at 7 56 34 PM](https://user-images.githubusercontent.com/919583/179872805-9712cd36-f184-4474-9f15-78abd2d27755.png)

Option 1: find state totals for the missing years and fill them i9n

Option 2: show greyed out estimate section for the missing years

[2022-07-26 01:06] #127 closed

[2022-07-26 02:40] derekeder opened #132 "Cite Source Author and Month/Year for Data Visualizations"
One thing I really like about the SpeedandScale.com website is how they cite their statistics:
![Screen Shot 2022-07-25 at 9 33 43 PM](https://user-images.githubusercontent.com/919583/180910563-91c4956d-d796-4f45-a6ca-3c36be915be0.png)

I think we should do something similar and show the source and month/year for each data source, including:

- Home page: map of emissions by state (WRI, 2018)
- St

[2022-07-29 23:24] hkier commented on #129
I understand there will always be a lag between the current year and the latest year available data.  There are basically two ways to solve this problem when filling in the missing years.

1. Take the last year for which we have data and then keep it constant until the current year at which point we will show a reduction in emissions.  This will result in a couple of years with a straight line for

[2022-08-03 00:22] vkoves commented on #24
@swatland610 - the about page now has all of the data sources, but now how we are using it, which I would have found helpful even making the slide deck. Would you be interested in adding that in, or should we assign that to someone else? I think after that we can close this issue.

[2022-08-03 00:23] vkoves commented on #25
@swatland610 - are you still taking point on this issue?

[2022-08-03 00:24] vkoves commented on #30
Want to note we did get the "is an EV actually less carbon than a gas car" during our talk, so I think an FAQ could absolutely be worth it. I'm curious if other folks have seen or heard of questions related to the site.

[2022-08-03 00:25] vkoves commented on #53
I actually wonder if we need to do this - although a 3,000 MW nuclear/gas combo plant may indeed not emit as much as a 2,000 MW gas only plant, the nuances of that seem a little too in the weeds for our site, and this hasn't been something I have heard.

**During tonight's breakout** - see if people agree that we should do this or think it's fine to skip.

[2022-08-03 00:27] vkoves commented on #68
Unless I'm confused, we have this:

![Screenshot from 2022-08-02 19-27-12](https://user-images.githubusercontent.com/3187531/182498916-64e82ccf-a7b3-4fda-8ad5-8d22633d6a93.png)

Closing this issue.

[2022-08-03 00:27] #68 closed

[2022-08-03 00:28] vkoves commented on #56
@hkier - the doc looks like a great starting point! I think you can move to making this a PR and then we can move any language discussion into that PR

[2022-08-03 00:29] vkoves commented on #57
Closing this, Derek said we don't have the budget to get the mini power plant icons, and the current assets we have don't work. Plus folks online like the SimCity icons 🤷🏻‍♂️

[2022-08-03 00:29] #57 closed

[2022-08-03 00:40] vkoves commented on #97
@shriyash - are you still taking this on? This would be a nice upgrade and make sharing our site more compelling, as right now folks generally screenshot that graph when sharing the site out on social media if they are sharing a state page

[2022-08-03 00:40] vkoves commented on #106
@derekeder - should we just tack this onto the about page?

[2022-08-03 00:45] vkoves commented on #109
This is _kind of_ done - we cut a lot of text on the homepage but haven't added any in to the state details page.

[2022-08-03 01:33] SuragNuthulapaty opened #136 "decarbonizemystate.com Not Redirecting To decarbmystate.com"
![Screen Shot 2022-08-02 at 8 32 24 PM](https://user-images.githubusercontent.com/77648585/182504950-3512be2e-bf26-444a-a890-a53cf503d712.png)

make it so that decarbonizemysate.com redirects to decarbmystate.com

[2022-08-03 01:44] vkoves commented on #56
Howard confirmed he can take on making the page, there is already a `terminology.js` so you should be able to flesh that out and then add headers.

[2022-08-03 01:46] vkoves commented on #106
Also we should link [Electrify by Saul Griffith](https://mitpress.mit.edu/books/electrify)

[2022-08-03 01:48] vkoves commented on #104
Dylan confirmed he can take this on, let's make sure to link this in the footer and not the header

[2022-08-03 01:50] vkoves commented on #97
Reassigned to Surag since we haven't seen Shri in the group in a while.

[2022-08-03 02:28] nofurtherinformation commented on #97
Note - the puppeteer code should likely happen in the `gastby-node` script: https://github.com/chihacknight/decarbonize-my-state/blob/main/gatsby-node.js

[2022-08-06 07:16] swatland610 commented on #24
I agree with you! This is probably solved by the About page. I'll close out this issue.

[2022-08-06 07:17] swatland610 commented on #25
Yep! I'll share something out in the next week or so!

[2022-08-10 02:08] vkoves opened #139 "Add New Illustrations to Homepage"
Let's use the new illustrations Viktor adds in PR #130 to the homepage, to give it some cosmetic flair

[2022-08-11 12:23] swatland610 opened #140 "Update Solar & Wind Capacity data with new data sources"
Really just creating this issue for transparency.

We learned of two new data sources as it relates to current wind and solar capacity.

1. [PJS-GATs Renewable Capacity](https://www.pjm-eis.com/)

2. [MRETs Renewable Capacity](https://www.mrets.org/)

I have access to the first data source, but it only contains data for 23 states.

The MRETs data looks more promising in terms of more states, but t

[2022-08-11 12:25] swatland610 commented on #128
Reached out to Mark but he has not followed back up about setting a time to discuss our process for calculating this.

[2022-08-17 01:21] vkoves opened #141 "Update the Site With Rebates & Info From the Inflation Reduction Act"
Now that the Inflation Reduction Act has passed let's make sure to add incentives from the IRA to make it clear what incentives are available to help folks. This would likely slot in on the Take Action page.

We shouldn't worry about _how to apply for incentives_ but just say what appliances qualify for incentives/rebates.

[2022-08-23 14:14] swatland610 commented on #140
Woohoo! I just got the new data this morning.

I'll work on it over the next couple of days and create a PR with the new data.

[2022-08-24 01:39] vkoves commented on #141
A useful article we can link out to: https://www.fastcompany.com/90780252/how-to-decarbonize-your-house-inflation-reduction-act-incentives

[2022-08-24 02:07] vkoves opened #142 "On State Details List Number of Wind Turbines and Acres/Football Fields of Solar to Build"
So on top of say we need to add 300 MWs of solar and 400 MWs of wind, we should say we this equivalent to building ~500 wind 20 foot turbines and 12 football fields of solar.

We should also make sure to asterisk this and state that every state has different weather, so in Arizona you would need less solar than in say upstate Vermont

[2022-08-24 02:08] vkoves opened #143 "On State Details Show Map Visualization Of Solar and Wind To Install"
Blocked by #142.

This should be inspired by Juan Pablo's talk and we can say stuff like if we cover 100% of all rooftops that gets us X% of our solar needed, so then we still need to build X% of solar and show a map.

[2022-08-24 02:10] vkoves commented on #97
Surag did that! It works. Proof:

[2022-08-24 02:13] vkoves commented on #132
@charunupara said he can take this on

[2022-08-24 02:28] #97 closed

[2022-08-24 02:30] derekeder commented on #106
We are already linking to Electrify and a number of other resources, so i think we can close this.

[2022-08-24 02:30] #106 closed

[2022-08-24 02:35] vkoves commented on #109
We got a second opinion and this looks good overall and a new member (Charun) didn't get confused by our argument, since our suggestions follow directly from emission categories. Closing this out for now, we can reopen if we get contradictory feedback

[2022-08-24 02:35] #109 closed

[2022-08-24 02:43] derekeder opened #145 "update main section titles to state actions like "Electrify our buildings""
To make the text flow a little better on the state detail page we should change the section titles:

* Buildings => "Decarbonize Our Buildings"
* Transport => "Decarbonize Our Transport"
* Power => "Decarbonize Our Power"

[2022-08-24 02:55] vkoves opened #147 "Add Prettier (via ESLint)"
Let's make sure to add it and apply it to the whole codebase. Be warned, that PR will have merge conflicts anyttime people merge work so you should coordinate to get a quick review.

[2022-08-24 02:58] vkoves commented on #24
Closing in favor of #132, which cites sources in place

[2022-08-24 03:42] swatland610 commented on #24
Yeah let's just close this!

[2022-08-24 03:42] #24 closed

[2022-08-24 20:11] jpvelez opened #148 "Fix bugs on state page"
1. Duplicate image: The water heat pump and stove are showing up twice on mobile view

<img src="https://user-images.githubusercontent.com/533641/186514353-6e7a16ec-de3e-478a-882b-28c08ab1054d.jpg" width="250">

2. Text mismatch: The text here is two difference sizes

<img src="https://user-images.githubusercontent.com/533641/186514340-3441f550-0685-4d08-9dd2-e90541b94dd4.png" width="250">

<img s

[2022-08-24 20:17] jpvelez opened #149 "Suggested tweaks to picture on state page"
1. The following picture are very nice, and I think we could make them like 20-30% bigger so they catch the eye more. They don't have to be so big that they take up the whole page.
![File (2)](https://user-images.githubusercontent.com/533641/186514963-3a2a54db-d0b9-476e-9130-41fa427433f5.jpg)
![File (3)](https://user-images.githubusercontent.com/533641/186514988-74ee43f6-c1b2-49a6-b515-1caefecf698

[2022-08-27 16:19] charunupara commented on #132
@vkoves @derekeder starting to work on this, but wanted to ask for some opinions on how to do this properly since I'm new to both the project and React/Gatsby.

I was thinking a good way to do it is to create a `data-sources` dictionary along with a React component that renders the data source name and date in a similar way to the SpeedAndScale citation Derek shared. Thought it was a good idea to

[2022-08-27 17:29] vkoves commented on #132
@charunupara - I love that! I think you could add a `constants.ts` or `data-dictionary.ts` and then move the about page to use that. I think the constant might be an object keyed on an enum, like so:

[code]

I think a component to render the title and stuff would be fine, but isn't a necessity. But I think it would be useful. If the enum proves difficult you could also just use strings, but that

[2022-08-27 17:39] charunupara commented on #132
Yep, using the same source for in-place citations and the About page is exactly why I thought having a dictionary would be helpful. And keying by enums sounds like a good idea. Wasn't sure how to structure the object earlier but this is super helpful, thanks @vkoves!

[2022-08-27 17:44] #145 closed

[2022-08-27 18:48] SuragNuthulapaty commented on #147
@vkoves I was just checking, there is already prettier in the project and the `yarn format` command runs it for everything. Do I need to do anything then?

[2022-08-28 03:14] vkoves commented on #147
@SuragNuthulapaty - interesting. Then I think you could make a PR running it for all files, and then add it to CI by adding it to the test command. I think the issue is CI doesn't fail if prettier has problems, so nobody knew to run it. It should also be added to the README.

[2022-08-28 14:59] vkoves commented on #148
@derekeder - I'd love your thoughts on Juan's suggestion of moving to MW everywhere. We only use it right now on the power plant tiles (which are supplementary info) so my thought is to move to Megawatts everywhere. It's clearer and less technical than using MW.

[2022-08-28 15:23] vkoves commented on #147
@SuragNuthulapaty - one other thing I noticed actually, it seems prettier may conflict with ESLint right now, at least just on semicolons. If just removing that from Prettier lets them play nice, that should be fine, but we may need to integrate PRettier into ESLint

[2022-08-30 03:50] derekeder commented on #148
I agree we should be consistent. MW is shorter, but we are aiming for an audience that is new to these concepts. I think we should either:

1. Use "Megawatts" everywhere, or
2. Use "Megawatts (MW)" the first time, and then MW for all others after on the same page

[2022-08-31 01:31] vkoves opened #152 "Further Improve US Emissions Gap"
Split out from #135 since Howard was busy, we should update the state details graph to look like this:

![Screenshot from 2022-08-02 21-09-58](https://user-images.githubusercontent.com/3187531/182509133-516b770a-76cf-44e6-bbba-ed14e0e3c85f.png)

The changes from current are:

1. The grey area has a dashed border (also thickened all the borders, but that feels optional)
1. All labels are restlyed,

[2022-08-31 01:42] #141 closed, assigned to SuragNuthulapaty

[2022-08-31 01:49] #148 closed

[2022-08-31 01:55] hkier opened #153 "Clarify State Emissions Graph"
1.     Grey area has dashed line (also thickened all the borders, but that feels optional)
2.     Removed label for grey area
3.     Changed label styling for other areas, moving to horizontal text at larger size, centered
4.     Added note about grey area above the graph, in 14px size text (to make it smaller than the emissions explainer)

![182509133-516b770a-76cf-44e6-bbba-ed14e0e3c85f](https:/

[2022-08-31 01:58] #153 closed

[2022-08-31 01:58] hkier commented on #153
duplicate

[2022-08-31 02:38] #129 closed

[2022-09-01 14:00] #147 closed

[2022-09-03 02:29] herrerarobert commented on #142
I found this government source which states that newly installed wind turbines can generate 843kWh of power per month.

https://www.usgs.gov/faqs/how-many-homes-can-average-wind-turbine-power

[2022-09-07 01:12] vkoves commented on #139
This was closed via PR #151

[2022-09-07 01:12] #139 closed

[2022-09-07 01:14] vkoves commented on #132
@charunupara - wanted to follow up on this, are you still tackling this one?

[2022-09-07 01:24] vkoves commented on #149
@derekeder - can you weigh in on this

[2022-09-07 01:36] vkoves opened #155 "Create County Maps of Solar & Wind Deployments"
Derek mentioned this on the call tonight related to someone else's needs, to help combat laws that block solar and wind deployments in certain counties.

The EPA or EIA may have the data we need.

[2022-09-07 03:15] SuragNuthulapaty commented on #155
I found a table with wind turbine data, it has both state and county. It is in the file titled "uswtdb_v5_1_20220729.csv" in the link below

https://www.sciencebase.gov/catalog/item/6001e327d34e592d8671fae0

[2022-09-07 13:29] derekeder commented on #155
Some additional details on the request from Illinois Clean Jobs Coalition:

[2022-09-10 17:12] derekeder commented on #136
I set up a URL redirect for decarbonizemystate.com => decarbmystate.com

[2022-09-21 00:27] vkoves commented on #136
@derekeder - still not working (confirmed with multiple people) 😢

[2022-09-21 00:28] vkoves commented on #155
Derek, me, and Juan are having a call with an org Thursday to talk about solar info for Illinois

[2022-09-21 00:39] #56 closed

[2022-10-04 14:24] #30 closed

[2022-10-06 01:54] #140 closed

[2022-10-11 02:37] derekeder commented on #155
For this to be useful for the ICJC folks, the source data needs to be updated at least quarterly. So far, I do not believe a national data source exists with this frequency.

For now, we are going to make a one-off map for IL based on this data from the Illinois Power Agency: https://illinoisabp.com/project-application-reports/ (Report no 3)

[2022-10-11 02:37] #155 closed

[2022-10-12 01:47] derekeder commented on #136
this is done.

http://decarbonizemystate.com redirects to https://decarbmystate.com

However, http**s**://decarbonizemystate.com does not, because we do not have an SSL cert for that domain anymore

[2022-10-12 01:47] #136 closed

[2022-10-26 21:18] #132 closed

[2022-10-31 14:07] derekeder opened #162 "Link to YellowTin from Take Action Page"
I've been talking to the owner of Yellow Tin, a platform that allows people to financially plan for electrifying their homes & lifestyles.

What do folks think of adding a link on the take action page to their landing page? https://www.yellowtin.com/electrify-with-yellowtin/

More on what YellowTin is:

[2022-11-09 01:44] #142 closed

[2022-11-09 02:11] vkoves opened #163 "Investigate Integrating Latest Data from Energy News Roundup"
Investigate integrating [energy-news-roundup](https://github.com/chihacknight/energy-news-roundup) into the main site, potentially by putting something like "Latest Updates in Your State" underneath the "Take Action" section in the state details page.